body{
    text-align: center;
    margin-top:10%;
    background-color: plum;
}
button{
    width: 70px;
    height: 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

div{
    text-align: center;
    margin:5% 35%;
}